#course {
    background-color: #f9f9f9;
}

#course .container {
    text-align: center;
}

#course h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

#course p {
    color: #555;
    margin-bottom: 20px;
}

#course ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

#course ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#course .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#course .button:hover {
    background-color: #0056b3;
}